body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#header-image-menu {
    top: 10px;
    position: relative;
}

#header-image-menu img {
    width: 100%;
    align-content: center;
}

#image-text {
    position: absolute;
    top: 60%;
    left: 60%;
    font-family: 'Roboto';
    color: #000;
    transform: translate(-30%, -30%);
    text-align: center;
}
#top-header {
    width: 100%;
    background: #D8E3AB;
    height: 70px;
    vertical-align: middle;
}
#logo {
    float: left;
    width: 50px;
}
#addTask {
    float: left;
    margin-top: 30px;
    margin-left: 40px;
}
#login {
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
img {
    height: 70px;
    margin-left: 30px;
}
#modal {
    background: #ccc;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 150px;
    margin: auto;
    display: none;
}
#newTask {
    background: #ccc;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 230px;
    margin: auto;
    display: none;
}
